[user]
	name = Ammon Casey
	email = ammon@caseyohana.com
[core]
	quotepath = false
	excludesfile = /Users/ammonkc/.gitignore_global
	editor = /usr/bin/vim
	autocrlf = input
[github]
	user = ammonkc
	token = 9424b3f8fa0e98eae4c65d0228671113
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
	renames = copies
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
	stat = true
[color]
	ui = auto
[help]
    autocorrect = 1
[advice]
	pushNonFastForward = false
	statusHints = false
[branch]
	autosetupmerge = true
[push]
	default = tracking
[rerere]
	enabled = true
[alias]
    #Basic
    st = status
    co = checkout

    #Flow
    fs = flow feature start
    ff = flow feature finish
    rs = flow release start
    rf = flow release finish

    #Infoz
    count = shortlog -sn
    df = diff --word-diff
    br = branch -a
    sh = show --pretty=format: --name-only

    #Log
    last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    #commit
    amend = commit --amend
    cm = commit
    cmm = commit -m

    #Undo
    undo = 'reset HEAD~ && clean -df'
