[user]
    name = $GIT_NAME
    email = $GIT_EMAIL
[core]
    quotepath = false
    excludesfile = ~/.config/git/.gitignore_global
    editor = code -n --wait
    autocrlf = input
    pager = delta
[github]
    user = $GITHUB_USER
    token = $GITHUB_TOKEN
[bitbucket]
    user = $BITBUCKET_USER
    email = $BITBUCKET_EMAIL
[credential]
    helper = osxkeychain
[color]
    ui = auto
[help]
    autocorrect = 1
[advice]
    pushNonFastForward = false
    statusHints = false
[branch]
    autosetupmerge = true
[push]
    default = tracking
[pull]
    ff = only
[fetch]
	prune = false
[pager]
	branch = false
[rerere]
    enabled = true
[init]
    defaultBranch = main
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
    template = ~/.config/git/.gitcommit_msg
    cleanup = strip
	gpgsign = true
[alias]
    #Basic
    st = status
    co = checkout

    #Flow
    fs = flow feature start
    ff = flow feature finish
    rs = flow release start
    rf = flow release finish

    #Infoz
    count = shortlog -sn
    df = diff --word-diff
    br = branch -a
    sh = show --pretty=format: --name-only

    #Log
    last = log -1 HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    #commit
    amend = commit --amend
    cm = commit
    cmm = commit -m

    #Undo
    undo = 'reset HEAD~ && clean -df'

    # Undo a `git push`
    undopush = 'push -f origin HEAD^:master'

    # Delete Orphaned branches
    orphan-d = "git fetch && git branch -vv | grep ': gone]' | grep -v '\*' | awk '{ print $1; }' | xargs -r git branch -d"
    orphan-D = "git fetch && git branch -vv | grep ': gone]' | grep -v '\*' | awk '{ print $1; }' | xargs -r git branch -D"
